// --------------------------------------------------
// Variables
// --------------------------------------------------

// Container Sizes
$container: 1024px;

// Font Sizes
$font-size-s: 18px;
$font-size-m: 16px;
$font-size-l: 14px;

// Main Colors
// $key-color: xxx;
// $point-color: xxx;