<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>mock gulp</title>
    <link rel="stylesheet" href="css/common.css">
  </head>
  <body>
    <% include partials/_header %>
    <main>main</main>
    <% include partials/_footer %>
  </body>
</html>
