<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>mock gulp</title>
  </head>
  <body>
    <% include partials/_header %>
    <main><%= hoge %></main>
    <% include partials/_footer %>
  </body>
</html>
